[Unit]
Description=Vérifie toutes les 30 min que les menus de modèles suivent les déplacements

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min

[Install]
WantedBy=timers.target
